<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDID67W5bsh0baMeyyHxegJCPvzF3Oibfg</string>
	<key>GCM_SENDER_ID</key>
	<string>391729812590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.primocys.chat</string>
	<key>PROJECT_ID</key>
	<string>meyaoo-36820</string>
	<key>STORAGE_BUCKET</key>
	<string>meyaoo-36820.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391729812590:ios:3bb89af4af4de9443cc27f</string>
</dict>
</plist>